* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    color: black;
}

h1 {
    text-align: center;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100vw;
    gap: 2rem;
    background-color: red;
}

#question {
    height: 70px;
    width: auto;
    margin-bottom: 10px;
    background-color: aqua;
    color: black;
    text-decoration: dashed;
    font-size: 20px;
    font-weight: normal;
}

.option {
    margin-bottom: 5px;
    color: white;
    background-color: blue;
    height: 60px;
    width: 100vw;
    font-size: 20px;
    font-weight: normal;
}

#submit {
    display: block;
    margin: 10px auto;
}

#results {
    display: block;
    font-weight: bold;
    text-align: center;
    background-color: blueviolet;
    color: white;
    font-size: 30px;
}