* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    gap: 2rem;
}